.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid green;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav{
  display: flex;
  justify-content: space-between;
}

.navList {
  display: flex;
  justify-content: space-around;
}

.navItem {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
}

.navItem:hover {
  cursor: pointer;
  background-color: green;
}

.navItem:not(:last-child) {
  margin-right: 10px;
}

.navLink {
  color: green;
  text-decoration: none;
}

.navLink:hover .navItem {
  color: #fff;
}

