
.registrationPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    background-color: #cccccc;
}

.registrationPage__title {
    font-size: 50px;
    padding-bottom: 25px;
}

