.forgotPassword {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.form {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}